@{
    ViewData["Title"] = "Member Home Page";
}
@if (TempData["PersonalDetailsMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["PersonalDetailsMessage"]
    </div>
}

<head>
    <link rel="stylesheet" href="~/css/generalLayout.css" asp-append-version="true">
</head>

<div class="p-5 text-center bg-dark min-vh-100 main-container">
    <h1>Welcome</h1>
    <div class="d-sm-inline-flex gap-2 mb-5 p-5">

        <a asp-controller="Home" class="d-sm-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" asp-action="MyReservations">View my reservations</a>
        <a asp-controller="Reservation" class="d-sm-inline-flex align-items-center btn btn-secondary btn-lg px-4 rounded-pill" asp-action="Create">Make a Reservation</a>
    </div>
</div>


